.fore-container {
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0, 0, 0, 30%);
  color: black;
  background-color: beige;
  margin: 20px auto 0 auto;
  padding: 10px 20px 20px 20px;
  padding-left: 45px;
}

.fore-title {
  display: ruby-text;
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-style: wavy;
}
